@font-face {
    font-family: CaviarDreamsBold;
    src: url(../Assets/Fonts/CaviarDreams_Bold.ttf);
}

.Header{
    background-color: aqua;
    display: grid;
    grid-template-columns: 1fr 7fr 2fr;
    grid-template-rows: 1fr;
    align-items: center;
}

.logo{
    display: contents;
}

.logo-img {
    max-width: 100%;
}

.nav_btn{
    justify-self: end;
    padding-right: 2em;
}